
.icecreamtitle{
	background-color:#32CD32;
	color:#fff;
	margin-top:10px;
	margin-left:50px;
	margin-right:50px;
	height:140px;
	line-height:140px;
}
.dashdi{
	background-color:#1DEEEF;
	color:#000;
	margin-left:50px;
	margin-right:50px;
	height:490px;
	font-size:25px;
}
.product_managetitle{
	
	background-color:#530602;
	color:#fff;
	margin-top:10px;
	margin-left:50px;
	margin-right:50px;
	height:140px;
	line-height:140px;
	
}
.product_dashdiv{
	background-color:#1DEEEF;
	color:#000;
	margin-left:50px;
	margin-right:50px;
	height:490px;
	font-size:25px;
}
.add_p_btn{
	width:20%;
	background:display;
	border:2px solid #4caf50;
	color:black;
	padding:5px;
	font-size:18px;
	cursor:pointer;
	margin:12px 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}
.upd_p_btn{
	width:20%;
	background:display;
	border:2px solid #4caf50;
	color:black;
	padding:5px;
	font-size:18px;
	cursor:pointer;
	margin:12px 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}
.del_p_btn{
	width:20%;
	background:display;
	border:2px solid #4caf50;
	color:black;
	padding:5px;
	font-size:18px;
	cursor:pointer;
	margin:12px 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                

}